/* typography */

@font-face {
    font-family: 'ArchitectsDaughterRegular';
    src: url('/fonts/architects-daughter-fontfacekit/ArchitectsDaughter-webfont.eot');
    src: url('/fonts/architects-daughter-fontfacekit/ArchitectsDaughter-webfont.eot?#iefix') format('eot'),
         url('/fonts/architects-daughter-fontfacekit/ArchitectsDaughter-webfont.woff') format('woff'),
         url('/fonts/architects-daughter-fontfacekit/ArchitectsDaughter-webfont.ttf') format('truetype'),
         url('/fonts/architects-daughter-fontfacekit/ArchitectsDaughter-webfont.svg#webfontQC0dn1ga') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LindenHillRegular';
    src: url('/fonts/linden-hill-fontfacekit/LindenHill-webfont.eot');
    src: url('/fonts/linden-hill-fontfacekit/LindenHill-webfont.eot?#iefix') format('eot'),
         url('/fonts/linden-hill-fontfacekit/LindenHill-webfont.woff') format('woff'),
         url('/fonts/linden-hill-fontfacekit/LindenHill-webfont.ttf') format('truetype'),
         url('/fonts/linden-hill-fontfacekit/LindenHill-webfont.svg#webfontByIXJ6az') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSlabLight';
    src: url('/fonts/josefin-slab-fontfacekit/JosefinSlab-Light-webfont.eot');
    src: url('/fonts/josefin-slab-fontfacekit/JosefinSlab-Light-webfont.eot?#iefix') format('eot'),
         url('/fonts/josefin-slab-fontfacekit/JosefinSlab-Light-webfont.woff') format('woff'),
         url('/fonts/josefin-slab-fontfacekit/JosefinSlab-Light-webfont.ttf') format('truetype'),
         url('/fonts/josefin-slab-fontfacekit/JosefinSlab-Light-webfont.svg#webfontj5wOmE3w') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'JosefinSlabThin';
    src: url('/fonts/josefin-slab-fontfacekit/JosefinSlab-Thin-webfont.eot');
    src: url('/fonts/josefin-slab-fontfacekit/JosefinSlab-Thin-webfont.eot?#iefix') format('eot'),
         url('/fonts/josefin-slab-fontfacekit/JosefinSlab-Thin-webfont.woff') format('woff'),
         url('/fonts/josefin-slab-fontfacekit/JosefinSlab-Thin-webfont.ttf') format('truetype'),
         url('/fonts/josefin-slab-fontfacekit/JosefinSlab-Thin-webfont.svg#webfontR2lZVBc3') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LindenHillItalic';
    src: url('/fonts/LindenHill-Italic-webfont.eot');
    src: url('/fonts/LindenHill-Italic-webfont.eot?#iefix') format('eot'),
         url('/fonts/LindenHill-Italic-webfont.woff') format('woff'),
         url('/fonts/LindenHill-Italic-webfont.ttf') format('truetype'),
         url('/fonts/LindenHill-Italic-webfont.svg#webfontLPbMpnxQ') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArvoRegular';
    src: url('/fonts/arvo-fontfacekit/Arvo-Regular-webfont.eot');
    src: url('/fonts/arvo-fontfacekit/Arvo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/arvo-fontfacekit/Arvo-Regular-webfont.woff') format('woff'),
         url('/fonts/arvo-fontfacekit/Arvo-Regular-webfont.ttf') format('truetype'),
         url('/fonts/arvo-fontfacekit/Arvo-Regular-webfont.svg#ArvoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ArvoRegular';
    src: url('/fonts/arvo-fontfacekit/Arvo-Italic-webfont.eot');
    src: url('/fonts/arvo-fontfacekit/Arvo-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/arvo-fontfacekit/Arvo-Italic-webfont.woff') format('woff'),
         url('/fonts/arvo-fontfacekit/Arvo-Italic-webfont.ttf') format('truetype'),
         url('/fonts/arvo-fontfacekit/Arvo-Italic-webfont.svg#ArvoItalic') format('svg');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: 'ArvoRegular';
    src: url('/fonts/arvo-fontfacekit/Arvo-Bold-webfont.eot');
    src: url('/fonts/arvo-fontfacekit/Arvo-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/arvo-fontfacekit/Arvo-Bold-webfont.woff') format('woff'),
         url('/fonts/arvo-fontfacekit/Arvo-Bold-webfont.ttf') format('truetype'),
         url('/fonts/arvo-fontfacekit/Arvo-Bold-webfont.svg#ArvoRegular') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'ArvoRegular';
    src: url('/fonts/arvo-fontfacekit/Arvo-BoldItalic-webfont.eot');
    src: url('/fonts/arvo-fontfacekit/Arvo-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/arvo-fontfacekit/Arvo-BoldItalic-webfont.woff') format('woff'),
         url('/fonts/arvo-fontfacekit/Arvo-BoldItalic-webfont.ttf') format('truetype'),
         url('/fonts/arvo-fontfacekit/Arvo-BoldItalic-webfont.svg#ArvoItalic') format('svg');
    font-weight: bold;
    font-style: italic;

}



body {
    font: 18px 'ArvoRegular', Palatino, Arial, sans-serif;
/*    background-image:url('/images/diblue.png');
    background-repeat:repeat;*/
    background-color:#041D3F;
/*        background-image:url('../images/284171752_d3d432ac0b_b-mzn37.jpg');
         background-repeat:no-repeat; */
    color:#555;
    /*background-color:#FDFDFF;*/
}

.container{
/*    background-color:#FDFDFF; */
    width:85%;
    margin: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #FFF;

    
}

.toprow{
    width:800px;
    height:250px; 
    margin: auto;
 	
}

h1.quote{
    width:100%;
/*    background-color: #fefefe;*/
    display:block;
    float:left;
    text-align: center;
/*    color:#648991;*/
    line-height:1.1em;
    font-size:2.3em;
    margin:50px 0px 30px 0px;
    font-family: 'ArvoRegular', Palatino, sans-serif;
    font-weight: normal;
    font-style:italic;
    /* border: 1px dotted #fff; */
}

h1.quote a:link, h1.quote a:visited {
    color: #fff;
    text-decoration: none;
    font-weight: normal;
}

h1.quote a:hover {
    text-decoration: underline;
}

.who-where{
    font-size:1.3em;
    text-align:right;
/*    color:#648991;*/
      margin:0px 0px 0px 5px; 
      vertical-align:bottom;
      height:60px;
}

.middlerow{

    width:800px;
    margin: 30px auto auto auto;
}

.entryform{
    overflow:hidden;
    margin:0px;
    height:250px;  /* 120 */
    width:533px;
}

form fieldset {
    border-width: 0;
    padding: 0px;
    margin: 0px 4px 0px 0px;
}

form label {
/*float: left;
clear: left;*/
    position: relative;
}

label.error {
    color: red;
}

.otherfields{
    margin-top:10px;
    margin-right:5px;
}

form input, form select {
  font:24px 'ArvoRegular', '', Arial, sans-serif;
    background-color:#EEE;
    border:none;
    color:#555;
    outline:none;
    resize:none;
	height:30px;
    float:left;
    margin: 0px 5px 0px 0px;
    /*-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 1px 1px 1px #141414 inset, 0 0 1px #131313 inset;
    -webkit-box-shadow: 1px 1px 1px #141414 inset, 0 0 1px #131313 inset;
    box-shadow: 1px 1px 1px #141414 inset, 0 0 1px #131313 inset;
  */
}

#statefield {
    width:85px;

}

#namefield{
    width:155px;
}

#cityfield{
    width:155px;
}

    /*.hidden{
    hidden:false;
}*/

/*.entryform-field{
    font:24px 'LindenHillRegular', Arial, sans-serif;
    background-color:#EEE;
    border:none;
    color:#555;
    outline:none;
    resize:none;
    width: 200px;
    float:left;
    margin: 0px 5px 0px 0px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 1px 1px 1px #141414 inset, 0 0 1px #131313 inset;
    -webkit-box-shadow: 1px 1px 1px #141414 inset, 0 0 1px #131313 inset;
    box-shadow: 1px 1px 1px #141414 inset, 0 0 1px #131313 inset;
}*/

form {
    display:block;
    float:left;
    margin-top:6px;
    margin:6px 0px 10px 20px;*/
}

.formdiv {
    float: left;
}

.formdiv label{
    vertical-align:bottom;
    clear:both;
    display:block;
    margin-top: 2px;
    font-size: 0.85em;
}

.form label {
    font-size: 0.9em;
    display: block;
    line-height: 25px;
    margin: 0px 0px 0px 0px;
    color:#333;
}

#quotefield{
    color:#648991;
    width:510px;
    height:110px;
    vertical-align:top;
    text-align:left;
	background: #ffffff url(/images/formbg.png) no-repeat;
	font-size: 1em;
	padding: 5px 15px 5px 5px;

}

#submitbutton{
    background-color:#fff;
    display: inline-block;
/*    padding: 5px 5px 5px 5px;*/
    background: #fff;
    border:0px;
    margin:0px 0px 0px 0px;
    color:#041D3F;
    
    /*
-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3194c6), to(#5bacd6));
    background: -moz-linear-gradient(#3194c6, #5bacd6);
    text-shadow: 0 -1px 1px rgba(19,65,88,.8);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -moz-transition: -moz-transform .2s ease-in-out;
    -o-transition: -o-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    margin-top:4px;
    vertical-align:top;
    float:right;
*/
}

.actions{
    margin: 0px 30px 10px 10px;
    float:right;
}

.button span{
    display: inline-block;
    padding: 3px  5px 3px 5px; 
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#041D3F;
    /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3194c6), to(#5bacd6));
    background: -moz-linear-gradient(#3194c6, #5bacd6);
    text-shadow: 0 -1px 1px rgba(19,65,88,.8);
    -webkit-transition: -webkit-transform .2s ease-in-out;
    -moz-transition: -moz-transform .2s ease-in-out;
    -o-transition: -o-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;*/
}

.button{
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
/*
    -webkit-box-shadow:
     0 8px 0 #1a74a1,
     0 15px 20px rgba(0,0,0,.35);
    -moz-box-shadow:
     0 8px 0 #1a74a1,
     0 15px 20px rgba(0,0,0,.35);
    box-shadow:
     0 8px 0 #1a74a1,
     0 15px 20px rgba(0,0,0,.35);
    -webkit-transition: -webkit-box-shadow .2s ease-in-out;
    -moz-transition: -moz-box-shadow .2s ease-in-out;
    -o-transition: -o-box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
*/
}
/*
.button:active {
  -webkit-box-shadow:
    0 8px 0 #1a74a1,
    0 12px 10px rgba(0,0,0,.3);
  -moz-box-shadow:
    0 8px 0 #1a74a1,
    0 12px 10px rgba(0,0,0,.3);
  box-shadow:
    0 8px 0 #1a74a1,
    0 12px 10px rgba(0,0,0,.3);
}
*/
.button:active span {
	color:#555;
/*    -webkit-transform: translate(0, 4px);
    -moz-transform: translate(0, 4px);
    -o-transform: translate(0, 4px);
    transform: translate(0, 4px);*/
}


.bottomrow{
    width:800px;
    margin:auto;
}

.video-map{
    width:500px;
    float:left;
    margin: 10px 10px 0px 0px;
    /*display:inline-block;*/
}

.what-it-is-bro{
	margin: 10px 0px 0px 20px;
    width:267px;
    float:left;
    /*display:inline-block;*/
    line-height:1.5em;
    font: 17px 'ArvoRegular', Arial, sans-serif;
}

.logo{
   width:267px;
   float:left;
   height:191px; 
   display:inline;
 	background-image:url('../images/loveps.png');
   /*margin:20px 10px 0px 0px;*/
}
.logo img{

	width:267px
}

.about-text{
   width:800px;
   float:left;
   display:inline-block;
}

.foot{
    clear:both;
    margin:auto;
    display:block;
    width:800px;
    margin-top:30px;

}

.foot img{
    margin:auto;
    margin: 20px;
    height:120px; /*120*/
    border: none;
    padding: 20px;
}
.footweet {
	display:inline-block;
}

.footweet img{
   height:16px;


}
.bottomrow form {
    margin:auto;
	text-align:center;
	width: 400px;
	float:right;
	position:relative;
	left:-25%;
	margin-top:50px;
	margin-bottom:50px;
	

}

.quotepage {
	display:inline-block;
	float:right;
}

#sthoverbuttons {
font: 11px Helvetica,Tahoma,Arial;
z-index: 980000!important;
cursor: pointer;
margin-left: -7px;
position: fixed;
top: 25%;
width: 50px;
}
