<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C //DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:tal="http://xml.zope.org/namespaces/tal"
      xmlns:metal="http://xml.zope.org/namespaces/metal"
      xml:lang="en" lang="en"
      metal:use-macro="master.macros.layout">     
      <div metal:fill-slot="main">
          <form id="add_quote" action="/add" method="post">
              <input name="quote" />
              <input name="name" />
              <input name="city" />
              <input name="state" />
              <input type="submit" name="submit" />
        </form>
      </div>
</html>
