<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C //DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:tal="http://xml.zope.org/namespaces/tal"
      xmlns:metal="http://xml.zope.org/namespaces/metal"
      xml:lang="en" lang="en"
      metal:use-macro="master.macros.layout">
    <div metal:fill-slot="header" tal:omit-tag="">
    <script type="text/javascript" src="js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="js/jquery.jqEasyCharCounter.min.js"></script>
    <script>
    $(document).ready(function(){
	var quotePrompt = $('#quotefield').val();
	var cityPrompt = $('#cityfield').val();

	var namePrompt = $('#namefield').val();
    
      $('#quotefield').jqEasyCounter({ 'msgFontColor': '#FFF'});
	  $('#quotefield').focus(function(){
			$('#quotefield').css({backgroundImage:'none'});

			if ($('#quotefield').val()==quotePrompt) {
					$('#quotefield').empty();
				} 
   	  });
   	  $('#cityfield').focus(function(){
			if ($('#cityfield').val() == cityPrompt) {
					$(this).val('')
				} 
   	  });
   	  $('#namefield').focus(function(){
			if ($('#namefield').val() == namePrompt) {
					$(this).val('')
					

				} 
	  });	  
      $("#quoteform").validate({
        rules: {
            quote: {
                required: true,
                maxlength: 100
            }
        }
        });
       

        
        
        
      });
    </script>
    </div>
    <div tal:omit-tag="" metal:fill-slot="main">
        <div class="toprow">
            <h1 class="quote">&ldquo;<a href="/" tal:attributes="href quote_url" tal:content="quote.quote|default">I had lost my dog but the nice lady brought it back to me</a>&rdquo;</h1>
            <div class="who-where">&mdash;&nbsp;<span tal:replace="quote.name|default">John Perry Snow</span>, <span tal:replace="quote.city|default">Albawhatsee</span>, <span tal:replace="quote.state|default">MS</span>
            
            <div class="actions"><a href="/" class="button"><span>Another</span></a></div>
            </div>
		
    </div><!-- end toprow -->
	<div class="middlerow">
	<div class="logo"><!-- <img class="logo" height="75px" width="75px" src="/images/mint2.png" alt="High-five a Public Servant"/> --></div>
	<div class="entryform">
		<form class="formdiv" action="/add" method="post" id="quoteform">
		<fieldset>
			<label for="quotefield" class="formlabel"></label>
			<textarea rows="1" cols="3" name="quote" class="entryform-field" id="quotefield">let's hear it for the public servants!</textarea>
			<!--	<input type="text" class="entryform-field" id="namefield" value="John"/> -->
			
			</fieldset>
			
		<fieldset class="otherfields">
			<div class="formdiv">
				<!-- <label for="namefield" class="formlabel hidden">Name</label> -->
				<input class="required entryform-field hidden" name="name" value="name" id="namefield"/>
			</div>
			<div class="formdiv">
				<!-- <label for="cityfield" class="formlabel hidden">City</label> -->
				<input class="required entryform-field hidden" name="city" id="cityfield" value="city"/>
			</div>
			<div class="formdiv">
			<!-- 	<label for="statefield" class="formlabel hidden">State</label> -->
            <select name="state" class="entryform-field hidden" id="statefield">
                <option value="Null">--</option>
                <option value="AL">AL</option>
                <option value="AK">AK</option>
                <option value="AZ">AZ</option>
                <option value="AR">AR</option>
                <option value="CA">CA</option>
                <option value="CO">CO</option>
                <option value="CT">CT</option>
                <option value="DE">DE</option>
                <option value="DC">DC</option>
                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="HI">HI</option>
                <option value="ID">ID</option>
                <option value="IL">IL</option>
                <option value="IN">IN</option>
                <option value="IA">IA</option>
                <option value="KS">KS</option>
                <option value="KY">KY</option>
                <option value="LA">LA</option>
                <option value="ME">ME</option>
                <option value="MD">MD</option>
                <option value="MA">MA</option>
                <option value="MI">MI</option>
                <option value="MN">MN</option>
                <option value="MS">MS</option>
                <option value="MO">MO</option>
                <option value="MT">MT</option>
                <option value="NE">NE</option>
                <option value="NV">NV</option>
                <option value="NH">NH</option>
                <option value="NJ">NJ</option>
                <option value="NM">NM</option>
                <option value="NY">NY</option>
                <option value="NC">NC</option>
                <option value="ND">ND</option>
                <option value="OH">OH</option>
                <option value="OK">OK</option>
                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>
                <option value="SD">SD</option>
                <option value="TN">TN</option>
                <option value="TX">TX</option>
                <option value="UT">UT</option>
                <option value="VT">VT</option>
                <option value="VA">VA</option>
                <option value="WA">WA</option>
                <option value="WV">WV</option>
                <option value="WI">WI</option>
                <option value="WY">WY</option>
            </select>
			</div>
			<input class="button" id="submitbutton" type="submit" value="submit"/>
		</fieldset>
		</form>
		
	</div><!--end entryform -->
	</div><!--end middlerow -->
	<div class="bottomrow">
		<div class="video-map"><img width="515px" height="314px" src="/images/fakeyoutube.png"/>
			
<!-- 			<iframe title="YouTube video player" width="533" height="351" src="http://www.youtube.com/embed/vLWTaGfBoRQ" frameborder="0" allowfullscreen></iframe> -->
		</div> 
		<div class="what-it-is-bro">Public Servants keep our cities livable. They pave roads, make sure the water supply is clean, administer schools, health care, transit systems, and pretty much every critical feature of our society. And they aren't in it for the paycheck; they take up the responsibility of service. Isn't it about time we gave them some love? We think so.
		    <p><span  class='st_twitter_large' ></span><span  class='st_facebook_large' ></span><span  class='st_yahoo_large' ></span><span  class='st_gbuzz_large' ></span><span  class='st_email_large' ></span><span  class='st_sharethis_large' ></span></p>
        	
		</div>
		

		
	</div><!-- end bottomrow -->
    </div><!-- end container -->

</html>
