<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C //DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:tal="http://xml.zope.org/namespaces/tal"
      xmlns:metal="http://xml.zope.org/namespaces/metal"
      xml:lang="en" lang="en"
      metal:define-macro="layout">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title  tal:content="quote.quote|default">Civic High-fives</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css"/>
  <link href="/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <meta name="description" content="thanks for serving"/>
  <meta name="keywords" content="government public servant appreciation week, psrw, quotes"/>
  <meta name="robots" content="index, follow"/>
  <script type="text/javascript" src="/js/jquery-1.5.2.js"></script>
  <div metal:define-slot="header" />
  <script type="text/javascript">var switchTo5x=false;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'72c27113-3bfc-4c68-a34e-b85a85d478db'});</script>
</head>
<body>
    <div id="sthoverbuttons" class="sthoverbuttons-pos-left">
        
        <span  class='st_twitter_large' ></span><br /><span  class='st_facebook_large' ></span><br /><span  class='st_email_large' ></span><br />
        
    </div>
    <div class="container">
        
        
    <div metal:define-slot="main">
        
    </div>
<div class="foot">
<div class="logos">
<a href="http://codeforamerica.org"><img src="/images/cfawhite.png" height="100px"/></a>
<a href="http://govloop.com">
<img src="/images/govloopwhite.png"/></a>

</div>
<div class="footweet">

</div>





</div>


</div>  



<script type="text/javascript" charset="utf-8">
  var _dashboard_project_id = "711f19a7a23768e86d2c1f21d6ac8bfb6e0564ed";
</script>
<script type="text/javascript" charset="utf-8">(function() {function async_load(){ var s = document.createElement('script'); s.type = 'text/javascript'; s.async = 'true'; s.src = (document.location.protocol == 'https:' ? "https:" : "http:") + '//dtn4rpwzrtdnb.cloudfront.net/dashboard.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);} if (window.attachEvent) window.attachEvent('onload', async_load); else window.addEventListener('load', async_load, false); })();</script>

<script type="text/javascript" charset="utf-8">
  var _dashboard_project_id = "711f19a7a23768e86d2c1f21d6ac8bfb6e0564ed";
</script>
<script type="text/javascript" charset="utf-8">(function() {function async_load(){ var s = document.createElement('script'); s.type = 'text/javascript'; s.async = 'true'; s.src = (document.location.protocol == 'https:' ? "https:" : "http:") + '//dtn4rpwzrtdnb.cloudfront.net/dashboard.js'; var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);} if (window.attachEvent) window.attachEvent('onload', async_load); else window.addEventListener('load', async_load, false); })();</script>
</body>
</html>
