<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C //DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:tal="http://xml.zope.org/namespaces/tal"
      xmlns:metal="http://xml.zope.org/namespaces/metal"
      xml:lang="en" lang="en"
      metal:define-macro="layout">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Civic High-fives</title>
  <link href="/css/style.css" rel="stylesheet" type="text/css"/>
  <link href="http://www.yes.com/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <meta name="description" content="thanks for serving"/>
  <meta name="keywords" content="government public servant appreciation week, psrw, quotes"/>
  <meta name="robots" content="index, follow"/>
  <script type="text/javascript" src="js/jquery-1.5.2.js"></script>
</head>
<body>
    <div class="container">
    <div metal:define-slot="main">
    </div>
<div class="foot"><p>brought to you by:</p><a href="http://codeforamerica.org"><img src="/images/cfalogo.png" height="100px"/></a><a href="http://govloop.com"><img src="/images/govlooplogogreenyellowonwhite-1.jpg" height="20px"/></a></div>


</div>  



</body>
</html>
