<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C //DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:tal="http://xml.zope.org/namespaces/tal"
      xmlns:metal="http://xml.zope.org/namespaces/metal"
      xml:lang="en" lang="en"
      metal:use-macro="master.macros.layout">     
   <div tal:omit-tag="" metal:fill-slot="main">
	<div class="toprow">
<h1 class="quote" tal:content="quote.quote">I had lost my dog but the nice lady brought it back to me</h1>
		<div class="who-where"><span tal:content="quote.name">John Perry Snow</span>, <span tal:content="quote.city">Albawhatsee</span>, <span tal:content="quote.state">MS</span></div>
		<div class="actions"><a href="/" class="button"><span>Back</span></a></div>
	</div><!-- end toprow -->
		<div> HI</div>
      </div>
</html>
