<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C //DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:tal="http://xml.zope.org/namespaces/tal"
      xmlns:metal="http://xml.zope.org/namespaces/metal"
      xml:lang="en" lang="en"
      metal:use-macro="master.macros.layout">     
   <div tal:omit-tag="" metal:fill-slot="main">
   	<div class="container">
	<div class="toprow">
        <h1 class="quote">&ldquo;<span tal:omit-tag="" tal:content="quote.quote">I had lost my dog but the nice lady brought it back to me</span>&rdquo;</h1>
		<div class="who-where quotepage"><span tal:content="quote.name">John Perry Snow</span>, <span tal:content="quote.city">Albawhatsee</span>, <span tal:content="quote.state">MS</span></div>
		<div class="actions quotepage"><a href="/" class="button"><span>Back</span></a></div>
	</div><!-- end toprow -->
		
		<div class="bottomrow"> <p align="center"><iframe src="http://www.facebook.com/plugins/like.php?href&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:80px;" allowTransparency="true"></iframe></p>
		   <!-- <form><p>enter your email address here to find out what's up with us (we don't spam)</p>
			<input name="email"/>
			<input class="button" id="submitbutton" type="submit" value="submit"/>
		</form>-->
		</div><!-- end bottomrow -->
	
      </div><!-- end container -->
      	
      </div>
</html>
